body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width:50%;
    margin-left:2%;
}
.circle-img{
    width:80%;
}
.orange{
    color:orange;
}
h1{
    font-size: 50px;
}
h4{
    color:salmon;
    font-size: 25px;

}
p{
    text-align: justify;

}
#link{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 12px 40px;
    border-radius: 10px;
    color:bisque;
    font-weight: 700;
}
.right-part{
    margin-right: 50px;
}
.fullbox-shadow{
    box-shadow: 20px 20px 50px gray;
    border-radius: 5px;
    padding: 0 20px;
    border-left:7px solid;
    border-image: linear-gradient(orange,blue);
    border-image-slice: 1;

}
.babybox-shadow{
    box-shadow: 20px 20px 50px gray;
    border-radius: 5px;
    padding: 0 20px;
    border-left:7px solid;
    border-image: linear-gradient(salmon,rgb(154, 255, 71));
    border-image-slice: 1;
    margin-right: 2%;

}
.section{
    margin-bottom: 150px;
}
footer p{
    text-align: center;
}